---
import GoogleButton from './GoogleButton';

interface Props {
    imgsrc: string;
    title: string;
    description: string;
    textimg: string;
}

const { imgsrc, title, description, textimg } = Astro.props;
---

<section class={`h-screen py-20 px-12 flex justify-between items-center ${textimg === 'yes' ? 'flex-row-reverse' : 'flex-row'}`}>
    <img class="w-5/12" src={imgsrc} alt="Characteristic Image">

    <div class="w-5/12">
        <h1 class="font-bold text-4xl mb-10">{title}</h1>
        <p class="mb-10">{description}</p>
        <GoogleButton />
    </div>
</section>