---
import GoogleButton from './GoogleButton'
---

<header class="flex justify-between px-12 py-4 items-center fixed bg-lightcolor w-screen">
    <a href="" class="text-2xl font-bold text-interlightcolor hover:text-interdarkcolor duration-500">けいこく</a>

    <div class="flex items-center gap-8">
        <nav>
            <ul class="flex items-center gap-5">
                <li><a href="">Why <span class="font-bold text-interlightcolor">KEIKOKU</span>?</a></li>
                <li><a href="">Why KEIKOKU?</a></li>
            </ul>
        </nav>

        <GoogleButton />
    </div>
</header>