---
import Item from "./Item.astro";

---

<header class="bg-darkcolor w-2/12 py-6 px-6 text-lightcolor h-screen">
    <h1 class="text-center text-3xl font-bold mb-6">KEIKOKU</h1>

    <div>
        <div>
            <Item link="/src/pages/login.astro" title="hola" icon="../../public/assets/login.svg"></Item>
        </div>
    </div>
</header>