---
interface Props {
    link: string;
    icon: string;
    title: string
}

const { link, icon, title } = Astro.props;
---

<a href={link} class="flex gap-4 items-center">
    <img class="w-[25px]" src={icon} alt={title}>
    <h2>{title}</h2>
</a>