---
import Item from "./Item.astro";

---

<header class="bg-darkcolor w-1/5 py-6 px-6 text-lightcolor h-screen flex flex-col justify-between">
    <h1 class="text-center text-3xl font-bold mb-6">KEIKOKU</h1>

    <div class="h-full">
        <Item link="" title="Dashboard" icon="/public/assets/dashboard.svg"></Item>

        <div class="my-3">
            <a class="font-bold flex justify-between mr-20" href="">
                <h2>Lists</h2>
                <span>+</span>
            </a>
        </div>

        <div>
            <a class="font-bold flex justify-between mr-20" href="">
                <h2>Notes</h2>
                <span>+</span>
            </a>
        </div>
    </div>

    <div class="mt-5">
        <Item link="/login" title="Log Out" icon="/public/assets/logout.svg"></Item>
    </div>
</header>