<!DOCTYPE html>
<html lang="en" class="text-darkcolor box-border list-none no-underline bg-lightcolor tracking-widest">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="google-signin-client_id" content="71727447822-hqirilmtmo874ghlt9i8eoefhtm73220.apps.googleusercontent.com">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <title>Keikoku</title>
    </head>

    <body class="font-poppins">
        <main>
            <slot />
        </main>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </body>
</html>