---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="box-border tracking-widest" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>
	</head>
	
	<body class="flex h-screen">
		<header class="bg-darkcolor w-1/5 py-6 px-6 text-lightcolor h-screen flex flex-col justify-between">
			<h1 class="text-center text-3xl font-bold mb-6">KEIKOKU</h1>
		
			<div class="h-full">
				<a href="/" class="flex gap-4 items-center">
					<img class="w-[25px]" src="/public/assets/dashboard.svg" alt="Dashboard">
					<h2 class="font-bold">Dashboard</h2>
				</a>
		
				<div class="my-3">
					<label class="font-bold flex justify-between mr-20 cursor-pointer" for="btn-list">
						<h2>Lists</h2>
						<span>+</span>
					</label>
				</div>
		
				<div>
					<label class="font-bold flex justify-between mr-20 cursor-pointer" for="btn-note">
						<h2>Notes</h2>
						<span>+</span>
					</label>
				</div>
			</div>
		
			<div class="mt-5">
				<a href="/login" class="flex gap-4 items-center">
					<img class="w-[25px]" src="/public/assets/logout.svg" alt="Log Out">
					<h2 class="font-bold">Log Out</h2>
				</a>
			</div>
		</header>

		<input class="hidden" type="checkbox" id="btn-list">
		<form action="" class="hidden fixed top-0 left-0 z-10 list h-screen w-screen bg-darkcolor/[.75] justify-center items-center">
			<fieldset class="w-6/12 bg-lightcolor p-10 rounded-2xl flex flex-col justify-between text-darkcolor">
				<h2 class="text-5xl font-bold">Add a New List</h2>

				<div class="flex flex-col py-10">
					<div class="pb-5 flex flex-col">
						<label class="font-bold" for="title">Name</label>
						<input class="px-5" type="text" name="title" id="title" required>
					</div>
					
					<div class="flex flex-col">
						<label class="font-bold" for="category">Category</label>
						<input class="px-5" type="text" name="category" id="category" required>
					</div>
				</div>
				
				<div class="flex justify-evenly text-lightcolor text-xl text-center font-bold h-[40px]">
					<label class="cursor-pointer bg-red-700 w-[100px] flex flex-col justify-center rounded-xl" for="btn-list">Cancel</label>
					<button class="bg-darkcolor w-[100px] rounded-xl" type="submit">Submit</button>
				</div>
			</fieldset>
		</form>

		<input class="hidden" type="checkbox" id="btn-note">
		<form action="" class="hidden fixed top-0 left-0 z-10 note h-screen w-screen bg-darkcolor/[.75] justify-center items-center">
			<fieldset class="w-6/12 bg-lightcolor p-10 rounded-2xl flex flex-col justify-between text-darkcolor">
				<h2 class="text-5xl font-bold">Add a New Note</h2>

				<div class="flex flex-col py-10">
					<div class="pb-5 flex flex-col">
						<label class="font-bold" for="title">Title</label>
						<input class="px-5" type="text" name="title" id="title" required>
					</div>

					<div class="flex flex-col">
						<label class="font-bold" for="description">Description</label>
						<textarea class="resize-none px-5" name="description" id="description" cols="30" rows="5" required></textarea>
					</div>
				</div>
				
				<div class="flex justify-evenly text-lightcolor text-xl text-center font-bold h-[40px]">
					<label class="cursor-pointer bg-red-700 w-[100px] flex flex-col justify-center rounded-xl" for="btn-note">Cancel</label>
					<button class="bg-darkcolor w-[100px] rounded-xl" type="submit">Submit</button>
				</div>
			</fieldset>
		</form>

		<slot />
	</body>
</html>

<style>
	#btn-list:checked ~ .list{
		display: flex;
	}

	#btn-note:checked ~ .note{
		display: flex;
	}
</style>